/mll-*
/tmp
/cache
/output

# python relevant files
__pycache__
*.pyc
.env

# generated tags
tags*

# ignore sphinx build folder
/docs/_build

# tensorboard outputs
/tensorboard
/plots_figures/*.json
/plots_figures/*.png
