/mll-*
/tmp
/cache
/output

# TODO: integrate test data into git repo itself
/tests/data

# python relevant files
__pycache__
*.pyc
env

# generated tags
tags*

# ignore sphinx build folder
/docs/_build
