*.csv
*.json
*.LMD
*.rds

# output directory for plots and other information
/output
/archive/*esults
/*/analysis

# allow all files in abstract
!/report/abstract/**

# python relevant files
__pycache__
*.pyc
env

# generated tags
tags*
