# datasci base packages
numpy == 1.15
pandas >= 0.23
# plotting libraries
matplotlib >= 3.0
seaborn >= 0.9
pydot >= 1.2
# fcs file parsing
git+https://github.com/xiamaz/fcsparser.git
# configuration parsing
toml >= 0.10
# AWS S3 access
boto3 >= 1.9
# machine learning
scikit-learn >= 0.20
keras >= 2.2
tensorflow >= 1.11
#saliency plotting
git+https://github.com/jakob-he/keras-vis.git@multiinput
